/*
 * Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license.
 * See LICENSE in the project root for license information.
 */

 html,
 body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
 }

 ul {
     margin: 0;
     padding: 0;
 }

 .ms-welcome__header {
    padding: 20px;
    padding-bottom: 30px;
    padding-top: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#7BC255 50%, #4BAF99);
    font-family: 'Hind', sans-serif;
    color: white !important;
 }

 .ms-welcome__main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    padding: 10px 20px;
 }

 .ms-welcome__main > h2 {
     width: 100%;
     text-align: center;
 }

 .ms-welcome__features {
     list-style-type: none;
     margin-top: 20px;
 }

 .ms-welcome__features.ms-List .ms-ListItem {
     padding-bottom: 20px;
     display: -webkit-flex;
     display: flex;
 }

 .ms-welcome__features.ms-List .ms-ListItem > .ms-Icon {
     margin-right: 10px;
 }

 .ms-welcome__action.ms-Button--hero {
     margin-top: 30px;
 }

.ms-Button.ms-Button--hero .ms-Button-label {
  color: #0078d7;
}

.ms-Button.ms-Button--hero:hover .ms-Button-label,
.ms-Button.ms-Button--hero:focus .ms-Button-label{
  color: #005a9e;
  cursor: pointer;
}

b {
    font-weight: bold;
}

body {
  position: relative;
}

.meeting-container {
  margin-top: 20px;
  padding: 8px;
  background: white;
}

.form-container {
  padding: 8px;
}

.form-container h4 {
  margin-top: 60px;
  text-align: center;
}

input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: calc(100% - 26px);
  border: 1px solid gray;
  border-radius: 3px;
  outline: none !important;
  font-size: 16px;
  font-weight: 300;
}

.divider {
  width: 100%;
  height: 3px;
  background: linear-gradient(#7BC255 50%, #4BAF99);
  width: 100%;
  margin: 8px auto 16px auto;
}

.icon {
  height: 16px;
}

.attendee-container {
  padding: 12px;
  background: #fafafa;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  margin: 12px 6px;
  font-size: 14px;
}

.attendee {
  margin-bottom: 12px;
}

.attendee div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edit-button {
  visibility: hidden;
  margin-left: 6px;
  cursor: pointer;
}

.attendee-email:hover .edit-button {
  visibility: visible;
}

.plus-icon {
  float: right;
  height: 8px;
  position: relative;
  top: -14px;
  transform: rotate(0deg);
}

.plus-icon-active {
  transform: rotate(45deg);
  transition: transform ease-in-out 0.3s;
}

.orders-container {
  padding: 12px;
  background: white;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  margin: 12px 0px;
  font-size: 14px;
}

.button {
  display: block;
  margin-top: 12px;
  padding: 12px 36px;
  text-transform: uppercase;
  border-radius: 4px;
  background-image: linear-gradient(to right, #7BC255 0%, #4BAF99 51%, #7BC255 100%);
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  background-size: 200% auto;
  user-select: none;
  transition: background-position 0.5s;
}

.button:hover, .button:focus {
  color: white;
  cursor: pointer;
  background-position: right center;
  text-decoration: none;
  outline: 0;
}

.button:active {
  transform: translateY(2px);
  color: white;
  text-decoration: none;
}

.button-loading {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: ButtonShimmer;
  animation-timing-function: linear;
}

.button-disabled {
  border: 1px solid #4BAF99;
  background: white;
  color: #4BAF99;
}

.button-disabled:hover,.button-disabled:focus {
  cursor: not-allowed !important;
}

.button--cancel {
  background-image: none;
  background: #f3f3f3;
  color: gray;
  border: 1px solid gray;
}

.button--cancel:hover {
  color: white;
  border-color: red;
  background: gray;
  cursor: pointer;
}

.text-box {
  margin: 40px 16px;
  padding: 12px;
  border: 2px solid #f3f3f3;
  border-radius: 3px;
}

.snackbar {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: absolute;
  z-index: 1;
  left: 4px;
  right: 4px;
  bottom: 0px;
}

.snackbar-show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: -40px; opacity: 0;}
  to {bottom: 0px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: -40px; opacity: 0;}
  to {bottom: 0px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 0px; opacity: 1;}
  to {bottom: -40px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 0px; opacity: 1;}
  to {bottom: -40px; opacity: 0;}
}

/* GENERAL */

.bold {
  font-weight: bold;
}

.medium {
  font-weight: 600;
}

.normal {
  font-weight: normal !important;
}

.light {
  font-weight: 300;
}

.small {
  font-size: 0.8em;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.va-top {
  vertical-align: top;
}

.va-middle {
  vertical-align: middle !important;
}

.va-bottom {
  vertical-align: bottom;
}

.inline-block {
  display: inline-block !important;
}

.caps {
  text-transform: uppercase !important;
}

.title-case {
  text-transform: capitalize !important;
}

.italic {
  font-style: italic;
}

.flex {
  display: flex;
}

.padding {
  padding: 6px;
}

.margin {
  margin: 6px;
}

label {
    display: inline;
}

input[type=checkbox] {
    display: inline;
    width: 20px;
}


@keyframes ButtonShimmer{
  0%{
    background-position: left center;
  }
  50%{
    background-position: right center;
  }
  100%{
    background-position: left center;
  }
}
